@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/montserrat-v26-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/montserrat-v26-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/montserrat-v26-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/montserrat-v26-latin-700.woff2") format("woff2");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-text-title: #364fc7;
  --color-text-subtitle: #91a7ff;
  --color-text-middle: #7284d8;
  --color-text-light: #f1f4ff;
  --color-text-white: #ffffff;
  --color-text-gray-dark: #333;
  /* --small-desktop: 75em;
  --tablets: 59em;
  --small-tablets: 44em;
  --phones: 34em;
  --small-phones: 22.5em; */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media (max-width: 75em) {
  html {
    /* 8px : 16px = 0.5 */
    font-size: 56.25%;
  }
}

@media (max-width: 59em) {
  html {
    /* 8px : 16px = 0.5 */
    font-size: 50%;
  }
}
