/* 1212px (Smaller desktops) */
@media (max-width: 76em) {
  html {
    /* 9px : 16px = 0.5625 */
    font-size: 56.25%;
  }
}

/* 944px (Tablets) */
@media (max-width: 59em) {
  html {
    /* 8px : 16px = 0.5 */
    font-size: 50%;
  }

  .projects-section__content {
    padding: 0 4rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 700px (Smaller tablets) */
@media (max-width: 44em) {
  .header__rocket {
    right: 2rem;
  }

  .projects-section__content,
  .services-section__content,
  .github-section__content {
    grid-template-columns: repeat(1, 1fr);
  }

  .services-section__content {
    padding: 0 2rem;
  }

  .testimonials {
    padding: 0 2rem;
  }

  .github-section__content {
    margin: 0 auto;
    max-width: 80rem;
  }
}

/* 544px (Phones) */
@media (max-width: 34em) {
  .header__rocket {
    display: none;
  }

  .section__title {
    font-size: 2.4rem;
  }

  .header__planet {
    display: none;
  }

  .button {
    font-size: 1.4rem;
  }

  .button_cta {
    font-size: 1.4rem;
  }

  .testimonials__content {
    min-height: 21rem;
  }

  .testimonials__authors {
    gap: 1.6rem;
  }

  .testimonials__author--active::after {
    width: 85%;
  }

  .testimonials__author-name {
    font-size: 1.4rem;
  }

  .testimonials__author-title {
    font-size: 1.2rem;
  }

  .service-card__features {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.4rem;
  }
}

/* 360px (Phones) */
@media (max-width: 22.5em) {
  .button {
    font-size: 1.2rem;
  }

  .button_cta {
    font-size: 1.2rem;
  }
  .testimonials__authors {
    gap: 2rem;
  }

  .header__button:link,
  .header__button:visited,
  .header__button--cta {
    font-size: 1.6rem;
  }

  .testimonials__container {
    padding: 0 2rem;
  }

  .testimonials__content {
    min-height: 33rem;
  }

  .github-section__content,
  .calcom-embed {
    padding: 0 2rem;
  }

  .github-section__content img {
    width: 100%;
  }

  .service-card__features {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4rem;
    text-align: center;
  }

  .service-card__feature--icon {
    margin: 0 auto;
  }
}
